doctype html
html
	head
		link(rel="stylesheet", type="text/css", href="style.css")
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		title IFPWAFCAD Homepage
	body
		h1
			| Welcome to IFPWAFCAD, the International Former Professional Wrestlers' Association for Counseling and Development!.
		table(border="0")
			thead
				tr
					th IFPWAFCAD offers expert counseling in a wide range of fields
			tbody
				tr
					td
						| To view the contact details of an IFPWAFCAD certified former
						| professional wrestler in your area, select a subject below:
				tr
					td
						form(action="/response")
							strong select a subject:
							select(name="subject")
								each option in options
									option #{option}
							input(type="submit", value="submit", name="submit")
							
							
									
							




			
