html
  head
  
    meta(charset='utf-8')
    style(type='text/css').
      body {
      background-image : url("123.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-color: #f4f4f4;
      color: #5a5656;
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      font-size: 16px;
      line-height: 1.5em;
      }
      a { text-decoration: none; }
      h1 { font-size: 1em; }
      h1, p {
      margin-bottom: 10px;
      }
      strong {
      font-weight: bold;
      }
      .uppercase { text-transform: uppercase; }
      /* ---------- LOGIN ---------- */
      #login {
      margin: 50px auto;
      width: 300px;
      }
      form fieldset input[type="text"], input[type="password"] {
      background-color: #e5e5e5;
      border: none;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      color: #5a5656;
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      font-size: 14px;
      height: 50px;
      outline: none;
      padding: 0px 10px;
      width: 280px;
      -webkit-appearance:none;
      }
      form fieldset input[type="submit"] {
      background-color: #008dde;
      border: none;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      color: #f4f4f4;
      cursor: pointer;
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      height: 50px;
      text-transform: uppercase;
      width: 300px;
      -webkit-appearance:none;
      }
      form fieldset a {
      color: #5a5656;
      font-size: 10px;
      }
      form fieldset a:hover { text-decoration: underline; }
      .btn-round {
      background-color: #5a5656;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      color: #f4f4f4;
      display: block;
      font-size: 12px;
      height: 50px;
      line-height: 50px;
      margin: 30px 125px;
      text-align: center;
      text-transform: uppercase;
      width: 50px;
      }
      .facebook-before {
      background-color: #0064ab;
      border-radius: 3px 0px 0px 3px;
      -moz-border-radius: 3px 0px 0px 3px;
      -webkit-border-radius: 3px 0px 0px 3px;
      color: #f4f4f4;
      display: block;
      float: left;
      height: 50px;
      line-height: 50px;
      text-align: center;
      width: 50px;
      }
      .facebook {
      background-color: #0079ce;
      border: none;
      border-radius: 0px 3px 3px 0px;
      -moz-border-radius: 0px 3px 3px 0px;
      -webkit-border-radius: 0px 3px 3px 0px;
      color: #f4f4f4;
      cursor: pointer;
      height: 50px;
      text-transform: uppercase;
      width: 250px;
      }
      .twitter-before {
      background-color: #189bcb;
      border-radius: 3px 0px 0px 3px;
      -moz-border-radius: 3px 0px 0px 3px;
      -webkit-border-radius: 3px 0px 0px 3px;
      color: #f4f4f4;
      display: block;
      float: left;
      height: 50px;
      line-height: 50px;
      text-align: center;
      width: 50px;
      }
      .twitter {
      background-color: #1bb2e9;
      border: none;
      border-radius: 0px 3px 3px 0px;
      -moz-border-radius: 0px 3px 3px 0px;
      -webkit-border-radius: 0px 3px 3px 0px;
      color: #f4f4f4;
      cursor: pointer;
      height: 50px;
      text-transform: uppercase;
      width: 250px;
      }
  body
    #login
      h1  
      <h1 style = "color:#f1f1f1";>
        strong Welcome.
        |  Please login.
      form(action='/login', method='post')
        fieldset
          p
            input(type='text',name='username', required='', placeholder='colspan' ,value='Username', onblur="if(this.value=='')this.value='Username'", onfocus="if(this.value=='Username')this.value='' ")
          p
            input(type='text',name='password', required='', value='Password', onblur="if(this.value=='')this.value='Password'", onfocus="if(this.value=='Password')this.value='' ")
          p
            a(href='#',style="color:#f1f1f1") Forgot Password?
          p
            input(type='submit', value='Login')
      p
        span.btn-round or
      p
        a.facebook-before
        button.facebook Login Using Facbook
      p
        a.twitter-before
        button.twitter Login Using Twitter
    // end login

script.
  var finished_rendering = function() {
  console.log("finished rendering plugins");
  var spinner = document.getElementById("spinner");
  spinner.removeAttribute("style");
  spinner.removeChild(spinner.childNodes[0]);
  }
  FB.Event.subscribe('xfbml.render', finished_rendering);
#spinner(style='\
background: #4267b2;\
border-radius: 5px;\
color: white;\
height: 40px;\
text-align: center;\
width: 250px;')
  | Loading
  .fb-login-button(data-max-rows='1', data-size='large', data-button-type='continue_with')
| }






